In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/life-expectancy-who/Life Expectancy Data.csv

# Import Important Libararies

In [2]:
import numpy as np 
import pandas as pd

In [3]:
from collections import Counter
from scipy.stats import kurtosis

In [4]:
pd.options.display.float_format = '{:.3f}'.format

In [5]:
df = pd.read_csv("/kaggle/input/life-expectancy-who/Life Expectancy Data.csv")

In [6]:
df.head(10)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.000,263.000,62,0.010,71.280,65.000,1154,...,6.000,8.160,65.000,0.100,584.259,33736494.000,17.200,17.300,0.479,10.100
1,Afghanistan,2014,Developing,59.900,271.000,64,0.010,73.524,62.000,492,...,58.000,8.180,62.000,0.100,612.697,327582.000,17.500,17.500,0.476,10.000
2,Afghanistan,2013,Developing,59.900,268.000,66,0.010,73.219,64.000,430,...,62.000,8.130,64.000,0.100,631.745,31731688.000,17.700,17.700,0.470,9.900
3,Afghanistan,2012,Developing,59.500,272.000,69,0.010,78.184,67.000,2787,...,67.000,8.520,67.000,0.100,669.959,3696958.000,17.900,18.000,0.463,9.800
4,Afghanistan,2011,Developing,59.200,275.000,71,0.010,7.097,68.000,3013,...,68.000,7.870,68.000,0.100,63.537,2978599.000,18.200,18.200,0.454,9.500
5,Afghanistan,2010,Developing,58.800,279.000,74,0.010,79.679,66.000,1989,...,66.000,9.200,66.000,0.100,553.329,2883167.000,18.400,18.400,0.448,9.200
6,Afghanistan,2009,Developing,58.600,281.000,77,0.010,56.762,63.000,2861,...,63.000,9.420,63.000,0.100,445.893,284331.000,18.600,18.700,0.434,8.900
7,Afghanistan,2008,Developing,58.100,287.000,80,0.030,25.874,64.000,1599,...,64.000,8.330,64.000,0.100,373.361,2729431.000,18.800,18.900,0.433,8.700
8,Afghanistan,2007,Developing,57.500,295.000,82,0.020,10.910,63.000,1141,...,63.000,6.730,63.000,0.100,369.836,26616792.000,19.000,19.100,0.415,8.400
9,Afghanistan,2006,Developing,57.300,295.000,84,0.030,17.172,64.000,1990,...,58.000,7.430,58.000,0.100,272.564,2589345.000,19.200,19.300,0.405,8.100

In [7]:
df.tail()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2933,Zimbabwe,2004,Developing,44.300,723.000,27,4.360,0.000,68.000,31,...,67.000,7.130,65.000,33.600,454.367,12777511.000,9.400,9.400,0.407,9.200
2934,Zimbabwe,2003,Developing,44.500,715.000,26,4.060,0.000,7.000,998,...,7.000,6.520,68.000,36.700,453.351,12633897.000,9.800,9.900,0.418,9.500
2935,Zimbabwe,2002,Developing,44.800,73.000,25,4.430,0.000,73.000,304,...,73.000,6.530,71.000,39.800,57.348,125525.000,1.200,1.300,0.427,10.000
2936,Zimbabwe,2001,Developing,45.300,686.000,25,1.720,0.000,76.000,529,...,76.000,6.160,75.000,42.100,548.587,12366165.000,1.600,1.700,0.427,9.800
2937,Zimbabwe,2000,Developing,46.000,665.000,24,1.680,0.000,79.000,1483,...,78.000,7.100,78.000,43.500,547.359,12222251.000,11.000,11.200,0.434,9.800

In [8]:
df.shape

(2938, 22)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [10]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [11]:
df.dtypes

Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

# Remove Null values

In [12]:
df = df.dropna()

In [13]:
df.shape

(1649, 22)

## Removing Extra Spacing from Columns Starting and Ending

In [14]:
# remove space in column values using columns.str.replace() function
df.columns = df.columns.str.replace(' ', '')

In [15]:
df.columns

Index(['Country', 'Year', 'Status', 'Lifeexpectancy', 'AdultMortality',
       'infantdeaths', 'Alcohol', 'percentageexpenditure', 'HepatitisB',
       'Measles', 'BMI', 'under-fivedeaths', 'Polio', 'Totalexpenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness1-19years',
       'thinness5-9years', 'Incomecompositionofresources', 'Schooling'],
      dtype='object')

In [16]:
df.columns = df.columns.str.lower()

In [17]:
df.columns

Index(['country', 'year', 'status', 'lifeexpectancy', 'adultmortality',
       'infantdeaths', 'alcohol', 'percentageexpenditure', 'hepatitisb',
       'measles', 'bmi', 'under-fivedeaths', 'polio', 'totalexpenditure',
       'diphtheria', 'hiv/aids', 'gdp', 'population', 'thinness1-19years',
       'thinness5-9years', 'incomecompositionofresources', 'schooling'],
      dtype='object')

In [18]:
df.dtypes

country                          object
year                              int64
status                           object
lifeexpectancy                  float64
adultmortality                  float64
infantdeaths                      int64
alcohol                         float64
percentageexpenditure           float64
hepatitisb                      float64
measles                           int64
bmi                             float64
under-fivedeaths                  int64
polio                           float64
totalexpenditure                float64
diphtheria                      float64
hiv/aids                        float64
gdp                             float64
population                      float64
thinness1-19years               float64
thinness5-9years                float64
incomecompositionofresources    float64
schooling                       float64
dtype: object

In [19]:
df.year = df.year.astype(str)

In [20]:
df.dtypes

country                          object
year                             object
status                           object
lifeexpectancy                  float64
adultmortality                  float64
infantdeaths                      int64
alcohol                         float64
percentageexpenditure           float64
hepatitisb                      float64
measles                           int64
bmi                             float64
under-fivedeaths                  int64
polio                           float64
totalexpenditure                float64
diphtheria                      float64
hiv/aids                        float64
gdp                             float64
population                      float64
thinness1-19years               float64
thinness5-9years                float64
incomecompositionofresources    float64
schooling                       float64
dtype: object

In [21]:
numerical_types = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

life_expectancy_numeric = df.select_dtypes(include=numerical_types)

In [22]:
life_expectancy_numeric.columns

Index(['lifeexpectancy', 'adultmortality', 'infantdeaths', 'alcohol',
       'percentageexpenditure', 'hepatitisb', 'measles', 'bmi',
       'under-fivedeaths', 'polio', 'totalexpenditure', 'diphtheria',
       'hiv/aids', 'gdp', 'population', 'thinness1-19years',
       'thinness5-9years', 'incomecompositionofresources', 'schooling'],
      dtype='object')

In [23]:
life_expectancy_numeric.shape

(1649, 19)

# Mean

In [24]:
mean_results = []
for column_name, values in life_expectancy_numeric.items():
    column_mean = values.mean()  # More efficient than sum() / count()
    mean_results.append({"Column": column_name, "Mean": column_mean})

# Convert to DataFrame
mean_df = pd.DataFrame(mean_results)

# Display DataFrame
print(mean_df)

                          Column         Mean
0                 lifeexpectancy       69.302
1                 adultmortality      168.215
2                   infantdeaths       32.553
3                        alcohol        4.533
4          percentageexpenditure      698.974
5                     hepatitisb       79.218
6                        measles     2224.494
7                            bmi       38.129
8               under-fivedeaths       44.220
9                          polio       83.565
10              totalexpenditure        5.956
11                    diphtheria       84.155
12                      hiv/aids        1.984
13                           gdp     5566.032
14                    population 14653625.889
15             thinness1-19years        4.851
16              thinness5-9years        4.908
17  incomecompositionofresources        0.632
18                     schooling       12.120

# Median

In [25]:
def calculate_median(column):
    
    sorted_values = column.dropna().sort_values().values #Sorting values
    
    n = len(sorted_values) # Finding total no.of values
    
    middlie_term = n // 2 # Getting middle term
    
    if n % 2: # If even
        median = (sorted_values[middlie_term - 1] + sorted_values[middlie_term]) / 2
    else: # If not even
        median = sorted_values[middlie_term]
        
    return  median

In [26]:
median_results = []

for column_name, column_values in life_expectancy_numeric.items():
    median = calculate_median(column_values)
    median_results.append({"Column": column_name, "Median": median})

median_df = pd.DataFrame(median_results)

median_df

                          Column      Median
0                 lifeexpectancy      71.700
1                 adultmortality     148.000
2                   infantdeaths       3.000
3                        alcohol       3.785
4          percentageexpenditure     145.044
5                     hepatitisb      89.000
6                        measles      14.500
7                            bmi      43.650
8               under-fivedeaths       4.000
9                          polio      93.000
10              totalexpenditure       5.840
11                    diphtheria      92.000
12                      hiv/aids       0.100
13                           gdp    1591.200
14                    population 1408189.500
15             thinness1-19years       3.000
16              thinness5-9years       3.200
17  incomecompositionofresources       0.673
18                     schooling      12.300

# Mode

In [27]:
def calculate_mode(column):
    
    values = column.dropna()  # Remove NaN values
    
    frequency = Counter(values)  # Counting frequencies of each value in a particular column
    max_count = max(frequency.values())  # Finding the highest frequency
    
    # Finding all values with the highest frequency
    modes = [str(key) for key, count in frequency.items() if count == max_count]
    
    return ", ".join(modes)  # Returning a comma-separated string

In [28]:
mode_results = []

for column_name, column_values in life_expectancy_numeric.items():
    mode = calculate_mode(column_values)
    mode_results.append({"Column": column_name, "Mode": mode})

mode_df = pd.DataFrame(mode_results)
mode_df

,Column,Mode
0,lifeexpectancy,73.0
1,adultmortality,"14.0, 12.0"
2,infantdeaths,0
3,alcohol,0.01
4,percentageexpenditure,0.0
5,hepatitisb,98.0
6,measles,0
7,bmi,"57.2, 55.7, 58.5, 57.0"
8,under-fivedeaths,0
9,polio,99.0
10,totalexpenditure,4.6
11,diphtheria,99.0
12,hiv/aids,0.1
13,gdp,"584.25921, 612.696514, 631.744976, 669.959, 63..."
14,population,"1141.0, 718239.0"
15,thinness1-19years,2.0
16,thinness5-9years,"1.9, 2.1"
17,incomecompositionofresources,0.0
18,schooling,12.9